@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.body, html {
    padding: 0;
    margin: 0;
    background-color:grey;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 32px 0;
}

.column a {
    color: khaki;
    text-decoration: none;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
    padding-left: 50px;
}

#elementList {
    padding-left: 70px;
}

.cos {
    font-size: 20px;
    color: khaki;
}

ul {
    list-style-type: none;
}

.right {
    text-align: right;
    padding-right: 50px;
}
  
.img-column {
    flex: 1;
    padding: 10px;
    overflow: hidden;
}

.img-column img {
    width: 100%;
    height: auto;
}

.img-left {
    padding-left: 50px;
}

.img-right {
    padding-right: 50px;
}

.space {
    margin-top: 2em;
}

.red {
    color: khaki;
}

.animation {
    opacity: 0;
    animation-name: reload;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes reload {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.row .buton {
    background: transparent;
    border: 2px solid khaki;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    width: 130px;
    height: 50px;
    font-size: 1.1em;
    color: khaki;
    margin-left: 40px;
    transition: .5s;
}

.row .buton:hover {
    background: #9900CC;
}

.delete-button {
    background: transparent;
    border: 2px solid khaki;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    margin-left: 10px;
    color:khaki;
}

li {
    margin:0 0 10px 0;  
    color: khaki;
 }

 .about {
    color: khaki;
    text-align: center;
 }

 .about .title {
    margin-top: 100px;
 }

 .about .p1 {
    margin-left: 650px;
    margin-right: 650px;
    margin-top: 50px;
 }

 .about .p2 {
    margin-left: 650px;
    margin-right: 650px;
 }

 .about .p3 {
    margin-left: 650px;
    margin-right: 650px;
 }

 .about .p4 {
    margin-left: 650px;
    margin-right: 650px;
 }

 .about .p5 {
    margin-left: 650px;
    margin-right: 650px;
 }

 .img-center {
    margin-left: 59vh;
 }

 .large-space {
    margin-top: 6em;
 }
